{% import "RedwoodWebBundle::macro.html.twig" as web_macro %}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="{{ csrf_token('site') }}" name="csrf-token" />
    <title>{% block title %} 同花顺Widget库{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('libs/bootstrap/3.0.3/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/redwoodweb/css/subm.css') }}" />
  
    <style>
        header a#logo h2 {
            -moz-transition: opacity .15s ease-in-out;
            -webkit-transition: opacity .15s ease-in-out;
            transition: opacity .15s ease-in-out;
            border: 0;
            display: block;
            float: left;
            max-height: 51px;
            max-width: 286px;
            margin-right: 30px;
        }
        header form input#search{
            margin-top: 22px;
        }
        .form-horizontal .form-group {
            margin-bottom: 30px;
        }
/*@media (max-width: 1100px){
    body.package div#installs {
        width: 46%;
    }
}*/
    </style>
</head>

{% set nav = nav|default('browse') %}
{% set navclass = navclass|default('index') %}
<body class="{% if navclass %} {{ navclass }} {% else %} index{% endif %}">
    <header>
        <section>
            <div>
                <a id="logo" href="{{ path('jswidget_show') }}">

                    <h2>同花顺 Widget</h2>
                </a>
                <div id="nav_container">
                    <nav>
                        <a href="{{ path('jswidget_show') }}" class="{% if nav == 'browse' %} active{% endif %}">分类浏览</a>
                        <a href="{{ path('markdown_rules') }}" class="{% if nav == 'markdown' %} active{% endif %}">markdown简明手册</a>
                        <a style="color:#E79500;" href="{{ path('webhq') }}" class="{% if nav == 'webhq' %} active{% endif %}">行情图组件</a>
                        <a href="{{ path('jswidget_manual') }}" class="{% if nav == 'manual' %} active{% endif %}">如何上传组件</a>
                        <a href="javascript:;" class="{% if nav == 'news' %} active{% endif %}">更新日志</a>
                        <a href="{{ path('jswidget_feedback') }}" class="{% if nav == 'feedback' %} active{% endif %}">反馈&建议</a>

                        {% if app.user %}
                            <a style="color:#6A8F1A;" class="{% if nav == 'mywidget' %} active{% endif %}" href="{{ path('jswidget_list') }}">我的组件</a>
                            <a style="color:#F34B4B;"  class="{% if nav == 'addwidget' %} active{% endif %}" href="{{ path('jswidget_create') }}">添加组件</a>

                            {% if is_granted('ROLE_ADMIN') %}
                           
                            <a style="background: #F34B4B; color: #fff;"  href="{{ path('admin_square') }}"><i class="icon-white-16 icon-lock"></i> 进入后台</a>
                            {% endif %}

                        {% endif %}

                        <span class="loading"></span>
                    </nav>

                    <div id="spons">

                     {% if app.user %}

                        <span>{{ app.user.username }}</span><span>, 你好</span>
                        <a href="{{ path('logout', {goto:'jswidget_show'}) }}" style="margin-top:10px;"><i class="glyphicon glyphicon-off"></i> 退出</a>

                    {% else %}
                        <a href="{{ path('login') }}">登录</a>

                        {# <a href="{{ path('register') }}">注册</a> #}
                    {% endif %}

                    </div>
                </div>

                <form action="{{ path('jswidget_search') }}" method="get">
                    <input id="search" type="text" placeholder="Search" name="q" value="">
                    <span class="help">
                        <span class="keys">需前往测试服务器(172.20.204.24)下载</span>
                    </span>
                </form>
            </div>
        </section>
    </header>
    <div id="torso">

        <div id="content">

            {% block wrapBox %}

            {% endblock %}

        </div>
    </div>

    <footer>
        <section>这里还什么都没有... </section>
    </footer>

        
    <script>
        var app = {};
        app.debug = {% if app.debug %}true{% else %}false{% endif %};
        app.version = '{{ assets_version() }}';

        app.config = {{
            {
                editor_upload_path: path('kindeditor_upload')
            }|json_encode|raw
        }};   

        {% if script_controller is defined %}
            app.controller = '{{ script_controller }}';
        {% endif %}
    </script>
    <script src="{{ asset('libs/seajs/2.1.1/sea.js') }}"></script>
    <script src="{{ asset('libs/seajs-global-config.js') }}"></script>
    <script type="text/javascript">
        seajs.use('{{ asset('bundles/redwoodweb/js/app.js') }}');
    </script>
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    </script>

</body>
</html>