{% extends 'RedwoodWebBundle::webLayout.html.twig' %}


{% block title %}{{'登录'}} - {{ parent() }}{% endblock %}
{% set script_controller = 'auth/login-bind-choose' %}

{% block wrapBox %}
<div class="es-section login-section login-section-weixin">
  <div class="section-header">
    <h1>{{ name }}</h1>
  </div>
    <form id="set-bind-new-form" class="form-vertical" method="post" action="{{ path('login_bind_newset', {type:type}) }}" 

    data-goto="{{ path('jswidget_show') }}">
    {# data-goto="{{ path('homepage') }}"> #}

      <div class="alert alert-danger" id="bind-new-form-error" style="display:none;"></div>
      
      <div class="form-group mbl">
        <label class="control-label" for="set-bind-username-field">{{'头像'}}</label>
        <div class="controls">
          {% if oauthUser.avatar is defined and oauthUser.avatar is not empty %}
            <img class="img-thumbnail" width="120" height="120" src="{{ oauthUser.avatar }}" />
          {% else %}
            {{'自动获取头像失败，请稍后在自行上传头像'}}
          {% endif %}
        </div>
      </div>
      <div class="form-group mbl">
        <label class="control-label" for="set-bind-username-field">{{'用户名'}}</label>
        <div class="controls">
          <input id="set-bind-username-field" class="form-control input-lg" type="text" name="username" value="{{ oauthUser.username }}" 
          data-url="{{ path('register_username_check') }}"/>
          <p class="help-block">{{'起名什么的最麻烦了...'}}</p>
        </div>
      </div>
      {# {% if setting('login_bind.' ~ type ~ '_set_fill_account') %} #}
        <div class="form-group mbl">
          <label class="control-label" for="set_bind_email">{{'邮箱地址'}}</label>
          <div class="controls">
            <input id="set_bind_email" value="{{ oauthUser.email }}" class="form-control input-lg" type="email" name="set_bind_emailOrMobile" data-url="{{path('register_email_check')}}"
            >
          </div>
        </div>
      {# {% endif %} #}
      <div class="form-group mbl"  style="display:none" >
        <label id="user_terms">
          <input type="checkbox" checked="checked">我已阅读并同意<a href="javascript:;" target="_blank">《xx协议》</a>
        </label>
      </div>

      <div class="form-group clearfix">
        <div class="row">
          <div class="col-xs-6">
            <button id="set-bind-new-btn" class="btn btn-primary btn-lg btn-block" type='submit' data-loading-text="{{'正在登录'}}...">{{'注册帐号'}}</button>
          </div>
          <div class="col-xs-6">
            <a class="btn btn btn-default btn-lg btn-block" href="{{ path('login_bind_change', {type: type}) }}">{{'绑定已有帐号'}}</a>
          </div>
        </div>
      </div>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    </form>
</div>

{% endblock %}