<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" /> 
  <title>!Your Title</title> 
<style type="text/css">
html,body,p,form,input,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
body{ font:12px/1.5em 'simsun',Tahoma, Geneva, sans-serif;}
h1,button,input,select,textarea{border:0 none;}
ul{ list-style:none; margin:0; padding:0;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;clear:both;}

{% for imagesInfo in imagesInfos %}
.img{{ loop.index0 }}{ 
    background:url(images/{{ imagesInfo.filename }}) top center no-repeat;
    height:{{ imagesInfo.height }}px;
    position:relative;
}
{% endfor %}

{% for box in boxs %}
.a{{ loop.index }}{ 
    height: {{ box.h }}px;
    position: absolute;
    left: 50%;
    margin-left: {{ box.marginLeft }}px;
    top: {{ box.y }}px;
    width: {{ box.w }}px;
    background: red;
    cursor: pointer;
    z-index: 2;
    opacity: 0.8;

}
{% endfor %}


</style>
</head> 
<body>
    {% for box in boxs %}
    <a href="http://www.10jqka.com.cn/" class="a{{ loop.index }}" target="_blank">a{{ loop.index }}</a>
    {% else %}
        <!-- No A Link! -->
    {% endfor %}
    

    {% for imagesInfo in imagesInfos %}
    <div class="img{{ loop.index0 }}"></div>
    {% else %}
        Something Wrong No img!
    {% endfor %}


</body>
</html>