{# src/Redwood/WebBundle/Resources/views/Login/index.html.twig #}
{% extends 'RedwoodWebBundle::webLayout.html.twig' %}


{% set script_controller = 'jswidget/content' %}

{% set navclass = 'package' %}
{% block wrapBox %}
    
{{ web_macro.flash_messages() }}

<div id="content">
    <a class="context" href="javascript:;">Browse</a>
    <h1>{{ jswidget.title }}

    {% if app.user and app.user.id == author.id %}
        <a style="padding: 0; padding-top: 20px;" href="{{ path('jswidget_edit', {id:jswidget.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-edit"></span> {{'编辑'}}</a>
    {% endif %}
    </h1>

    <div class="meta">
        <span class="author">
            <em>by</em>
            <a href="javascript:;">{{ author.username }}</a>

        </span>

        {{ web_macro.jswidget_compatible(jswidget, false) }}

        {{ web_macro.jswidget_type(jswidget) }}

    </div>

    <div class="meta" style="display:none;">
        <span>访问人数</span>
        <span>{{ jswidget.views }}</span>
    </div>

    {% if jswidget.description %}
        <p class="description">
            {{ jswidget.description }}
        </p>
    {% endif %}

    {% if app.user and app.user.id == author.id %}
       <p class="description">
           <span>组件根目录: {{ jswidget.url }}</span>
       </p>
    {% endif %}
    
    <div id="details">
        <h2>Details</h2>
        <ul class="meta">
            <li class="modified"><label>最近修改</label><span>{{ jswidget.updateTime|date('Y-m-d H:i:s') }}</span></li>
            <li class="first_seen"><label>创建时间</label><span>{{ jswidget.createTime|date('Y-m-d H:i:s') }}</span></li>
        </ul>
    </div>
    <div id="installs">

        <h2>标签</h2>

        <div style="clear:both; width:100%; background:none;">
            {{ web_macro.jswidget_tags(tags) }}
        </div>
        
        <div style="clear:both"></div>
        <!-- @todo 趋势 -->
        <!-- <ul class="totals"> 
            <li> 
                <span class="total">Total</span> <span title="68" class="installs">--</span> 
            </li> 
            <li> 
                <span class="platform">属性1</span> <span title="49" class="windows installs">-- <span class="key"></span></span> 
            </li> 
            <li> 
                <span class="platform">属性2</span> <span title="10" class="osx installs">-- <span class="key"></span></span> 
            </li> 
            <li> 
                <span class="platform">属性3</span> <span title="9" class="linux installs">-- <span class="key"></span></span> 
            </li> 
        </ul> -->
    </div>
    <div style="clear: both">
    </div>

    {% if jswidget.iframeUrl %}
    <div> 
        <h2>Iframe 预览 <span><a style="border-bottom: 1px solid #eee;
    color: #555E69; font-size:14px;" href="{{ jswidget.iframeUrl }}" target="_blank">新窗口打开</a></span></h2> 
        <div class="contents">  
        <iframe style="width: 100%; height: 400px; " src="{{ jswidget.iframeUrl }}" frameborder="0"></iframe>
        </div>
    </div>
    {% endif %} 
    
    <div id="readme"> 
        <h2>Readme</h2>

        <textarea id="markdownContent">{{ jswidget.content|default('还没有详细介绍') }}</textarea>

        <!-- <div class="contents" id="jswidgetContent"></div> -->

    </div>

    

    
</div>
        
{% endblock %}