{# src/Redwood/WebBundle/Resources/views/Login/index.html.twig #}
{% extends 'RedwoodWebBundle::webLayout.html.twig' %}

{% set jswidget = jswidget|default(null) %}

{% block title %}
{% if jswidget %}编辑{% else %}添加{% endif %}组件-{{ parent() }}
{% endblock %}


{% set nav = 'webDeveloper' %}
{% set script_controller = 'jswidget/create' %}

{% block wrapBox %}

    <h3>{% if jswidget %}编辑{% else %}添加{% endif %}组件</h3>
    <p>
        请先在gitlab上传您的组件 <a href="{{ path('jswidget_manual') }}">如何上传组件</a>
    </p>

    <form id="jswidgetForm" method="POST" class="form-horizontal" 
    {% if jswidget %}
        action="{{ path('jswidget_edit', {id: jswidget.id}) }}"
    {% else %}
        action="{{ path('jswidget_create') }}"
    {% endif %}>

      {{ web_macro.flash_messages() }}
        <div class="form-group">
            <label class="col-md-2 control-label" for="jswidget_title">标题:</label>
            
            <div class="col-md-7 controls">
                <input type="text" id="jswidget_title" name="title" required="required" data-display="title" class="form-control" value="{{ jswidget.title|default('') }}">
                <div class="help-block" style="display:none;"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="jswidget_description">副标题(概述):</label>
            
            <div class="col-md-7 controls">
                <input type="text" id="jswidget_description" name="description" data-display="description" class="form-control" value="{{ jswidget.description|default('') }}">
                <div class="help-block">请一句话描述下您的组件</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="jswidget_url">组件根目录:</label>
            
            <div class="col-md-7 controls">
                <input type="text" id="jswidget_url" name="url" data-display="url" class="form-control" value="{{ jswidget.url|default('') }}">
                <div class="help-block">例如:http://gitlab.10jqka.com.cn/YourName/firstWidget</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="jswidget_iframeUrl">演示地址:</label>
            
            <div class="col-md-7 controls">
                <input type="text" id="jswidget_iframeUrl" name="iframeUrl" data-display="iframeUrl" class="form-control" value="{{ jswidget.iframeUrl|default('') }}">
                <div class="help-block" style="">浏览器可访问的url地址</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">{{'标签'}}</label>
            <div class="col-md-7 controls">
                <input type="text" id="jswidget_tags" name="tags" class="width-full select2-offscreen form-control" tabindex="-1" value="{{ tags|default('') }}">
                <div class="help-block">选填，管理员后台统一管理标签</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">兼容性</label>
            <div class="col-md-8 controls radios">
                {{ radios('compatible', {'unsure':'未知', 'all':'各平台全兼容', 'mobile':'仅手机', 'pc7':'仅电脑IE7以上', 'pc6':'仅电脑IE6以上'}, jswidget.compatible|default('unsure')) }}
                <div class="help-block">电脑IE6以上:一般是一些PC客户端项目要求IE6以上; 不确定兼容性, 别勉强哦</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">分类</label>
            <div class="col-md-8 controls radios">
                {{ radios('type', {'js':'js组件', 'css':'样式-css3', 'others':'其他'}, jswidget.type|default('js')) }}

                <div class="help-block">样式-css3: 是指重点在特效, 纯css3实现的内容</div>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-2 control-label" for="jswidget_content">内容:</label>
            
            <div class="col-md-7 controls">
                <textarea id="jswidget_content" name="content"  style="height:200px;" data-display="内容" placeholder="详细介绍" class="form-control">{{ jswidget.content|default('') }}</textarea>
                <div class="help-block" style="display:none;"></div>
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

        <div class="row">
            <div class="col-md-7 col-md-offset-2">
                <button id="profile-save-btn" data-submiting-text="正在保存" type="submit" class="btn btn-primary">保存</button>
            </div>
        </div>

    </form>
{% endblock %}