{# src/Redwood/WebBundle/Resources/views/Login/index.html.twig #}
{% extends 'RedwoodWebBundle::webLayout.html.twig' %}

{% set jswidget = jswidget|default(null) %}

{% block title %}
{% if jswidget %}编辑{% else %}添加{% endif %}组件-{{ parent() }}
{% endblock %}


{% set nav = 'webDeveloper' %}
{% set script_controller = 'jswidget/create' %}

{% block wrapBox %}

    <h3>{% if jswidget %}编辑{% else %}添加{% endif %}组件</h3>
    <p>
        在测试服务器127.20.204.24 请务必先上传您的组件 <a href="javascript:;">如何上传组件</a>
    </p>

    <form id="jswidgetForm" method="POST" 
    {% if jswidget %}
        action="{{ path('jswidget_edit', {id: jswidget.id}) }}"
    {% else %}
        action="{{ path('jswidget_create') }}"
    {% endif %}>


    <p>
        <span>标题:</span>
        <span>
        {{ form_widget(form.title, {attr:{'data-display':'title'}}) }}</span>
    </p>
    <p>
        <span>描述:</span>
        <span>
        {{ form_widget(form.description, {attr:{'data-display':'description'}}) }}
    </p>
    <p>
        <span>组件根目录url:</span>
        <span>
        {{ form_widget(form.url, {attr:{'data-display':'url'}}) }}</span>
    </p>
    <p>
        <span>iframe url:</span>
        <span>
        {{ form_widget(form.iframeUrl, {attr:{'data-display':'iframeUrl'}}) }}</span>
    </p>
    <p>
        <span>内容:</span>
        <span>
        {{ form_widget(form.content, {attr:{style:'width:700px;height:200px;','data-display':'内容'}}) }}
    </p>

        {{ form_rest(form) }}

        <button type="submit" class="btn btn-primary btn-fat">保存</button>
    </form>
{% endblock %}