{# src/Redwood/WebBundle/Resources/views/Login/index.html.twig #}
{% extends 'RedwoodWebBundle::webLayout.html.twig' %}

{% set jswidget = jswidget|default(null) %}

{% block title %}
{% if jswidget %}编辑{% else %}添加{% endif %}组件-{{ parent() }}
{% endblock %}


{% set nav = 'webDeveloper' %}
{% set script_controller = 'jswidget/create' %}

{% block wrapBox %}

    <h3>{% if jswidget %}编辑{% else %}添加{% endif %}组件</h3>
    <p>
        在测试服务器127.20.204.24 请务必先上传您的组件 <a href="javascript:;">如何上传组件</a>
    </p>

    <form id="jswidgetForm" method="POST" class="form-horizontal" 
    {% if jswidget %}
        action="{{ path('jswidget_edit', {id: jswidget.id}) }}"
    {% else %}
        action="{{ path('jswidget_create') }}"
    {% endif %}>

        <div class="form-group">
            <label class="col-md-2 control-label" for="profile_idcard">标题:</label>
            
            <div class="col-md-7 controls">
                {{ form_widget(form.title, {attr:{'data-display':'title', 'class':'form-control'}}) }}
                <div class="help-block" style="display:none;"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="profile_idcard">副标题(概述):</label>
            
            <div class="col-md-7 controls">
                {{ form_widget(form.description, {attr:{'data-display':'description' , 'class':'form-control'}}) }}
                <div class="help-block" style="display:none;"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="profile_idcard">组件根目录:</label>
            
            <div class="col-md-7 controls">
                {{ form_widget(form.url, {attr:{'data-display':'url' , 'class':'form-control'}}) }}
                <div class="help-block">仅作者可以看见此目录</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="profile_idcard">演示地址:</label>
            
            <div class="col-md-7 controls">
                {{ form_widget(form.iframeUrl, {attr:{'data-display':'iframeUrl', 'class':'form-control'}}) }}
                <div class="help-block" style="">浏览器可访问的url地址</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">兼容性</label>
            <div class="col-md-8 controls radios">
                {{ radios('compatible', {'unsure':'未知', 'all':'各平台全兼容', 'mobile':'仅手机', 'pc7':'仅电脑IE7以上', 'pc6':'仅电脑IE6以上'}, 'unsure') }}
                <div class="help-block">电脑IE6以上:一般是一些PC客户端项目要求IE6以上.</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">分类</label>
            <div class="col-md-8 controls radios">
                {{ radios('type', {'js':'js组件', 'css':'样式-css3', 'others':'其他'}, 'js') }}
                <div class="help-block">样式-css3: 是指重点在特效, 纯css3实现的内容</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="profile_idcard">内容:</label>
            
            <div class="col-md-7 controls">
                {{ form_widget(form.iframeUrl, {attr:{'data-display':'iframeUrl', 'class':'form-control'}}) }}
                {{ form_widget(form.content, {attr:{style:'height:200px;','data-display':'内容', 'class':'form-control'}}) }}
                <div class="help-block" style="display:none;"></div>
            </div>
        </div>

        
        
     

        {{ form_rest(form) }}
        
        <div class="row">
            <div class="col-md-7 col-md-offset-2">
                <button id="profile-save-btn" data-submiting-text="正在保存" type="submit" class="btn btn-primary">保存</button>
            </div>
        </div>

    </form>
{% endblock %}