<li id="jswidget-search-table-tr-{{ jswidget.id }}"  class="package">
    <h3>
        <a href="{{ path('jswidget_content', {id:jswidget.id}) }}"><b>{{ jswidget.title }}</b></a>
    </h3>
            
    <span class="author"><em>by</em>
        <a href="javascript:;">{{ user.username }}</a>
    </span>

    {{ web_macro.jswidget_compatible(jswidget, false) }}

    {{ web_macro.jswidget_type(jswidget) }}

    <span class="meta">
        <span class="installs" title="共{{ jswidget.views }}次访问">{{ jswidget.views }}<em> views</em></span>

        {# <span class="installs" title="558 total unique installs">{{ jswidget.admire }} <em>赞</em></span> #}
    </span>

    <div class="description">
        {{ jswidget.description }}
    </div>
</li>




